body {
  background:#CCCCCC
}

#banner{
  width: 45%

}

.principal{
  background: #FFFFFF
}

h1 {
    text-align: center

}

#subtitulo{
  text-size: "20px"
}

h2{
  text-align:center;
}

#subm {
  text-size: "15px"
}

p{
    text-align: center;
    text-size: "20px"
}

}
